<html>
	<body>
		<strong> Add the squirrel data here: </strong>
		<form id="submit" method="post" action="{% url 'sightings:create' %}">
			{% csrf_token %}
			<div>
				<label for="latitude">LATITUDE</label></br>
				<input type="float" name="latitude" id="latitude">
			</div>
			 <div>
                                <label for="longitude">LONGITUDE</label></br>
                                <input type="float" name="longitude" id="longitude">
                        </div>
			 <div>
				 <label for="unique_squirrel_id">UNIQUE SQUIRREL ID</label></br>
                                <input type="text" name="unique_squirrel_id" id="unique_squirrel_id">
                        </div>
			<input type="submit" value="ADD">
		</form>
		<a href="/sightings">Back to Lists</a>
		<script>
</html>


