<html>
	<body>
		<strong> Squirrel {{squirrel.unique_squirrel_id }} Information</strong>
		</br>			
		<ul>
			<li> Latitude : {{ squirrel.latitude }}</li>
			<li> Longitude : {{ squirrel.longitude }}</li>
			<li> Unique Squirrel ID : {{ squirrel.unique_squirrel_id }} </li>
			<li> Shift : {{ squirrel.shift }} </li>
			<li> Date : {{ squirrel.date }} </li>
			<li> Age : {{ squirrel.age }} </li>
		</ul>
		</br>
		<a href="/sightings/{{ squirrel.unique_squirrel_id }}/update/ ">EDIT</a></br>
		<a href="/sightings/">BACK to lists</a>
	</body>
</html>

		
