{% extends 'sightings/base.html' %}

{% load static %}

{% block main %}

<div class="jumbotron">
	<div class="container">
		<h1 class="display-3">Squirrels in CentralPark</h1>
		<p>
		"Too many squirrels in Central Park? Don't worry. We can track them all. Squirrel tracking is what we are born to do. Let us do the tracking, and you can think of ways to take care of them."
		</p>
		<p>
		<a class="btn btn-primary btn-lg" href="#" role="button">Learn more! </a>
		</p>
	</div>
</div>

<div class="container">
	<div class="row">
		{% for squirrel in squirrels %}
		<div class="col-md-4">
			<h2> {{squirrel.unique_squirrel_id }} </h2>
			<p>
			<ul>
				<li> Latitude : {{squirrel.latitude}} </li>
				<li> Longitude : {{squirrel.longitude}}</li>
				<li> Date : {{squirrel.date}}</li>
			</ul>
			<p>
			<p>
			<a class="btn btn-secondary" href="/sightings/{{ squirrel.unique_squirrel_id }}/">Details & Update</a>
			<p>
		</div>
		{% endfor %}
	</div>
	<hr>
</div>

{% endblock %}
