{% extends 'sightings/base.html' %}

{% load static %}

{% block main %}

<div class="jumbotron">
        <div class="container">
                <h1 class="display-3">Sightings Stats</h1>
                <p>
                "General stats for sightings in Central Park."
                </p>
        </div>
</div>

<div class="container">
	<h2> Total Number of Sightings : 3023 </h2>
	<p>
	<h3> Shift Stats </h3>
	<ul>
		<li> Number of sightings in AM shift : 1347 </li>
		<li> Number of sightings in PM shift : 1676 </li>
	</ul>
	</p>

	<p>
	<h3> Age Stats </h3>
	<ul>
		<li> Number of ADULT squirrels : 2568 </li>
		<li> Number of JUVENILE squirrels : 330 </li>
	</ul>
	</p>

	<p>
	<h3> Age Stats </h3>
	<ul>
		<li> Number of sightings found ABOVE GROUND : 843 </li>
		<li> Number of sightings found on GROUND PLANE : 2116 </li>
	</ul>
	</p>

	<p>
	<h3> Primary Fur Color Stats </h3>
	<ul>
		<li> Number of squirrels with primary BLACK fur color : 103 </li>
		<li> Number of squirrels with primary GRAY fur color : 2473 </li>
		<li> Number of squirrels with primary CINNAMON fur color: 392 </li>
	</ul>
	</p>

	<p>
	<h3> Behavior Stats </h3>
	<ul>
		<li> Number of squirrels found RUNNING : 730 </li>
		<li> Number of squirrels found CHASING : 279 </li>
		<li> Number of squirrels found CLIMBING : 658 </li>
		<li> Number of squirrels found EATING : 760 </li>
		<li> Number of squirrels found FORAGING : 1435 </li>
	</ul>
	</p>
     
        <hr>
	<a class="btn btn-outline-primary" href="/sightings/">Back to Sightings</a>
</div>

{% endblock %}
