<html>
	<body>
		<strong> Squirrel {{squirrel.unique_squirrel_id}} Information</strong>
		</br>
		<form id='submit' method='post' action="">
			{% csrf_token %}
			 Latitude : <input type='float' name='latitude' id='latitude'></br>
		 	Longitude : <input type='float' name='longitude' id='longitude'></br>
			</ul>
			<input type="submit" value="EDIT">
		</form>
		<ul>
			<li> Unique Squirrel ID : {{squirrel.unique_squirrel_id}} </li>
			<li> Shift : {{squirrel.shift}} </li>
			<li> Date : {{squirrel.date}} </li>
			<li> Age : {{squirrel.age}} </li>
		</ul>
		</br>
	<a href="/sightings/{{ squirrel.unique_squirrel_id }}">BACK</a>
</html>

